<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <div class="form-card">
        <form id="register-form" action="/account/register" method="post">
            <h2>Create an Account</h2>
            <p>*All fields are required</p>
            <label>First Name:
                <input type="text" name="account_firstname" class="form-input" required>
              </label><br>
            <label>Last Name:
                <input type="text" name="account_lastname" class="form-input" required>
            </label><br>
            <label>Email:
              <input type="email" name="account_email" class="form-input" required placeholder="Enter a valid email address">
            </label><br>
            <label>Password:
              <input type="password" name="account_password" class="form-input" required
              pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            </label><br>
            <ul id="password-note">
                Password must be:
                <li>12 characters in length, min</li>
                <li>contain at least 1 capital letter</li>
                <li>contain at least 1 number</li>
                <li>contain at least 1 special character</li>
            </ul>
            <input type="submit" value="Register" class="form-button" title="Click here to submit registration">
        </form>
    </div>