<h1 class="body-title">Welcome to CSE Motors!</h1>

<picture>
    <source srcset="../public/images/vehicles/delorean.jpg" media="(min-width: 600px)">
    <img src="../public/images/vehicles/delorean-tn.jpg" alt="grey delorean" style="width:auto;">
</picture>