:root {
  --color-light: white;
  --color-border: rgb(100, 100, 109);
  --color-button: rgb(205, 221, 226);
  --color-contrast: rgb(21, 99, 122);
  --color-contrast-15: rgba(21, 99, 122 ,0.15);
  --color-contrast-25: rgba(21, 99, 122 ,0.25);
  --color-font: black;

  --font-serif: "Wittgenstein", "Georgia", serif;
  --font-sans: "Jost", Arial, sans-serif
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

h1 {
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: 24px;
  margin-top: 0px;
}

.siteName {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 40px;
}

#top-header {
  display: flex;
  justify-content: space-between;
}

#top-header a {
  align-self: center;
  text-decoration: none;
  color: var(--color-font);
}

#tools {
  font-family: var(--font-serif);
  font-variant: small-caps;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.welcome-user {
  font-style: italic;
  margin: 0;
  padding: 0 20px;
}

.header-nav {
  background-color: var(--color-border);
}

.header-nav ul {
  padding: 0px;
  list-style-type: none;
  /* mobile screen view */
  display: block;
  text-align: center;
}

.header-nav ul li {
  padding: 10px;
}

.header-nav ul li:hover {
  background-color: var(--color-contrast);
}

.header-nav ul li a {
  text-decoration: none;
  font-family: var(--font-sans);
  font-size: 20px;
  color: var(--color-light);
}

#hero-container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

#hero-img {
  width: 100%;
  height: auto;
  padding: 20px;
}

#hero-detail {
  text-align: center;
  background: var(--color-contrast-15);
  color: var(--color-font);
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}
 
.hero-detail-title {
  margin: 0;
}

#hero-detail ul {
  font-family: var(--font-sans);
  font-size: 20px;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 0;
}

.hero-button {
  padding: 10px 20px;
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-contrast);
  color: var(--color-light);
}

#lower-section {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}

#reviews-container {
  grid-row: 1/2;
}

#reviews-container ul {
  padding: 0 0 0 20px;
}

#reviews-container ul li {
  font-family: var(--font-sans);
  font-size: 20px;
  padding-bottom: 20px;
}

#upgrades-container {
  grid-row: 2/3;
  display: block;
}

#cards {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.upgrade-card {
  display: block;
  text-align: center;
  margin: 0;
}

.upgrade-img-box {
  background-color: var(--color-contrast);
  border: 2px solid var(--color-border);
  border-radius: 10px;
  width: 100%;
  height: 100px;
  align-content: center;
}

.caption-link {
  font-weight: bold;   
  font-size: 20px;
  text-align: center;
  padding: 20px;       
}

/* Type Page */
#inv-display {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car-card {
  width: 300px;
  margin: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  list-style: none;
}

.car-card, .form-card, .mgmt-card {
  font-size: 20px;
  padding: 20px;
  background-color: var(--color-contrast);
  color: var(--color-light);
  border-radius: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  grid-row: 1;
  padding-bottom: 20px;
}

.car-card hr {
  height: 2px;
  background-color: var(--color-light);
  border: none;
}

.car-card-heading {
  font-size: 20px;
}

.car-card-heading a {
  color: var(--color-light);
  padding: 10px;
}

.car-card-heading a:visited {
  color: var(--color-light);
}

/* Vehicle Details Page */
#details-container {
  display: block;
  margin: 20px;
}

#vehicle-img-large {
  grid-column: 1/2;
  width: 100%;
  max-width: 100%;
  height: auto;
}

#vehicle-details {
  grid-column: 2/3;
  font-size: 20px;
  font-family: var(--font-sans);
}

.section-title {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 20px;
}

#vehicle-details tr:nth-child(odd) {
  background-color: var(--color-contrast-15);
}

#vehicle-details tr:nth-child(even) {
  background-color: var(--color-contrast-25);
}

#vehicle-details td {
  padding: 10px;;
}

.details-label {
  font-weight: bold;
}

#error-page {
  font-family: var(--font-serif);  
}

#error-img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

/* Login Page */

.form-card {
  display: block;
  margin: 10px auto;
  width: 400px;
  max-width: 100%;
  font-family: var(--font-sans);
}

.form-input, #classificationList {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
  font-family: var(--font-sans);
}

#inventory-form textarea {
  height: 100px;
}

.form-input:focus:valid {
  background-color: rgb(171, 241, 214);
}

.form-input:focus:invalid {
  background-color: rgb(221, 166, 166);
}

#sign-up {
  text-align: center;
}

.form-button {
  margin: 10px auto;
  padding: 5px 40px;
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--color-button);
  color: var(--color-font);
  display: block;
  cursor: pointer;
}

#sign-up a {
  color: var(--color-light);
}

/* Register Page */
.validation-note {
  background-color: var(--color-button);
  color: var(--color-font);
  margin-bottom: 20px;
}

.validation-note p {
  padding: 10px;
  margin-bottom: 0;
}

.validation-note ul {
  margin: 0 auto;
  font-family: var(--font-sans);
  font-size: 18px;
  font-weight: bold;
  background-color: var(--color-button);
  color: var(--color-font);
  padding: 0 0 20px 10px;
  text-align: left;
}

.validation-note li {
  padding: 0px;
  font-size: 16px;
  margin-left: 40px;
  font-weight: normal;
}

footer {
  font-family: var(--font-sans);
  font-size: 16px;
}

/* Vehicle Management */

.mgmt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.mgmt-link {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px 30px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  background-color: var(--color-contrast);
  color: var(--color-light);
}

.mgmt-card {
  display: block;
  margin: 10px auto;
  max-width: 800px;
  font-family: var(--font-sans);
}

#inventoryDisplay {
  margin: 0 auto;
}

.mgmt-header {
  text-align: center;
  padding-top: 20px;
  font-size: 28px;
  margin-top: 0;
}

#inventoryDisplay th {
  text-align: center;
}
.mgmt-card td {
  display: block;
  text-align: center;
}

.mgmt-label {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  margin: 0;
  font-family: var(--font-sans);
}

.mgmt-card th {
  text-align: left;
  padding: 20px 0;
  font-size: 22px;
}

.mgmt-button {
  margin: 10px;
  padding: 5px 40px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--color-button);
  color: var(--color-font);
  display: block;
  cursor: pointer;
}

#save-changes-btn:disabled {
  color: grey;
}

#acct-inv-header {
  margin: 0;
  padding: 10px;
}

.acct-link {
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px 30px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.mgmt-text {
  text-align: center;
  margin: 0;
}

.review-first-note {
  font-style: italic;
  background-color: var(--color-contrast-15);
}

.reviews-container {
  font-family: var(--font-sans);
  font-size: 20px;
}

#review-form-card {
  font-family: var(--font-sans);
  width: 100%;
  font-size: 20px;
  padding: 20px;
  background-color: var(--color-contrast-25);
  color: var(--color-font);
}
.reviews-text {
  margin: 0;
  padding-bottom: 20px;
}

#screen-name {
  font-weight: bold;
}

.review hr {
  margin: 0;

}
.review-list-heading {
  margin: 0;
}

.review-form-button {
  margin: 10px auto;
  padding: 5px 40px;
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--color-contrast);
  color: var(--color-light);
  display: block;
  cursor: pointer;
}

#my-reviews-header {
  text-align: left;
  padding: 20px 0 0 20px;
  margin: 0;
}

.review-link {
  color: white
}

.review-link:visited {
  color: white
}
/* Flash Messages */

.notice, .error {
  font-family: var(--font-sans);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
  display: block;
  padding: 0;
}

.notice {
  color: red;
  list-style-type: none;
} 

@media screen and (min-width: 780px) {
  body {
    background-image: url('/images/site/checkerboard.jpg');
  }

  #wrapper {
    background: var(--color-light);
    border: 4px solid var(--color-border);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    max-width: 1200px;
  }

  #hero-detail {
    position: absolute;
    top: 0;
    left: 0;
  }

  #lower-section {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  #upgrades-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #reviews-container {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  #vehicle-details {
      margin: 0 20px;
  }

  #inventoryDisplay th {
    text-align: left;
  }

  .mgmt-tr td {
    border-bottom: 2px solid var(--color-light);
    display: table-cell;
    text-align: left;
  }

}

@media screen and (min-width: 460px) {
  .header-nav ul {
    display: flex;
    justify-content: space-evenly;
  }
}