<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

      <div class="form-card">
        <form id="classification-form" action="/inv/add-classification" method="post">
            <p>*Field is required</p>
            <label>Classification Name:
              <input type="text" name="classification_name" class="form-input" 
              required pattern="[A-Za-z]+" value="<%= locals.classification_name %>">
            </label>
            <div class="validation-note"><p>Name must be alphabetic characters only. No spaces.</p></div>
            <input type="submit" value="Add Classification" class="form-button" title="Click here to add new classification">
        </form>
      </div>